* {
    font-family: sans-serif;
}

#waybar {
    background: transparent;
}

#workspaces {
    background-color: #1a1b26;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    margin: 5px 0px;
    border-radius: 5px;
    transition:
        background-color 0.2s ease-in-out,
        color 0.2s ease-in-out;
}

#workspaces button {
    color: #babbf1;
    border-radius: 5px;
    padding: 0.3rem 0.6rem;
    margin: 2px;
    background: transparent;
    transition: all 0.2s ease-in-out;
    border: none;
    outline: none;
}

#workspaces button.active {
    color: #99d1db;
    background-color: rgba(153, 209, 219, 0.1);
    box-shadow: inset 0 0 0 1px rgba(153, 209, 219, 0.2);
}

#workspaces button:hover {
    background: rgb(41, 42, 53);
    color: #c6d0f5;
}
