* {
    font-family: sans-serif;
}

#waybar {
    background: transparent;
}

.modules-left,
.modules-center,
.modules-right {
    padding: 5px;
}

#workspaces {
    background-color: rgba(30, 30, 46, 0.8);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    transition:
        background-color 0.2s ease-in-out,
        color 0.2s ease-in-out;
}

#workspaces button {
    color: rgb(205, 214, 244);
    border-radius: 5px;
    padding: 0.3rem 0.6rem;
    margin: 2px;
    background: transparent;
    transition: all 0.2s ease-in-out;
    border: none;
    outline: none;
}

#workspaces button.active {
    color: rgb(249, 226, 175);
    background-color: rgba(249, 226, 175, 0.1);
    box-shadow: inset 0 0 0 1px rgba(249, 226, 175, 0.2);
}

#workspaces button:hover {
    background-color: rgba(249, 226, 175, 0.3);
    color: #c6d0f5;
}

#workspaces button.urgent {
    background-color: #ef5e5e;
    color: #1a1b26;
}

#clock {
    color: rgb(205, 214, 244);
    background-color: rgba(30, 30, 46, 0.8);
    padding: 0.3rem 0.6rem;
    border-radius: 5px;
    box-shadow: inset 0 0 0 1px rgba(249, 226, 175, 0.2);
    /*box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);*/
}
