theme "catppuccin-mocha"

keybinds {
	shared_except "locked" {
		bind "Alt W" { CloseTab; }
		bind "Alt w" { CloseFocus; }
		bind "Alt T" { NewTab; }
		bind "Alt t" { GoToNextTab; }
		bind "Alt D" { NewPane "Down"; }
		bind "Alt d" { NewPane "Right"; }
	}
}
